.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

div.dt-processing {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
}

input[readonly] {
    background-color: #f2f2f2;
}

input[readonly]:focus {
    background-color: #f2f2f2;
}

.bg-not-submitted {
    background-color: #edd405;
}

.bg-not-production {
    background-color: #0c28a4;
}

.bg-not-good {
    background-color: #7f0c0c;
}

.bg-good {
    background-color: #1d7e07;
}

.text-not-submitted {
    color: #edd405;
}

.text-not-production {
    color: #0c28a4;
}

.text-not-good {
    color: #7f0c0c;
}

.text-good {
    color: #1d7e07;
}
